body {
  margin: 0;
  touch-action: manipulation;
}

.container {
  width: 100%;
  height: 100%;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #faf8ef;
  overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* Cards */
/* ------------------------------------------------------------------ */

.card {
  width: 48%;
  height: 20%;
  margin: 1%;
  display: inline-block;
}

.card:nth-child(odd) {
  float: right;
}

/* ------------------------------------------------------------------ */
/* Ticker */
/* ------------------------------------------------------------------ */

.ticker {
  height: 10%;
  width: 100%;
}

/* ------------------------------------------------------------------ */
/* Buttons */
/* ------------------------------------------------------------------ */

button {
  width: 99%;
  margin: 0 auto;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #C1C1C1;
  background: rgba(158,158,158,.1);
  border-radius: 3px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  transition: background 0.3s linear;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: rgba(158,158,158,.3);
  color: rgba(0, 0, 0, 0.6);
}

/* ------------------------------------------------------------------ */
/* Labelled Values */
/* ------------------------------------------------------------------ */

.labelledValue {
  width: 100%;
}

.labelName {
  display: inline-block;
  text-align: left;
  width: 70%;
}

.labelValue {
  display: inline-block;
  text-align: right;
  width: 30%;
}

/* ------------------------------------------------------------------ */
/* Radio Picker */
/* ------------------------------------------------------------------ */

.radioOption {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.radioCheckbox {
  float: right;
}

